body{
    margin: 0;
    padding: 0;
}


.btn-custom:hover{
    color: wheat;
    background: tomato;
}

.btn-custom{
    
    background: blue;
    border-radius: 2px;
    padding: 6px 15px;
}

.btn-custom a{
    color: teal;
    text-decoration: none;
}


