body{
    margin: 0;
    padding: 0;
}


.custom-img{
    width:40px;
}

.custom-color{
    background: coral;
}

.menu{
    padding: 0px 15px;
}

.menu ul li{
    padding: 0px 15px;
}

.menu ul li a{
   color: crimson !important;
   font-size: 22px;
}

